---
// import PageBackground from "src/components/svg-components/PageBackground.astro";
import Header from "src/components/Header.astro";
import Footer from "src/components/Footer.astro";
import { SITE } from "src/configs/page.config";
import "src/styles/main.css";
import PolygonBackground from "src/components/svg-components/PolygonBackground.astro";
import CursorAnime from "src/components/CursorAnime.astro";
import SocialSideBar from "src/components/SocialSideBar.astro";
// const googleSiteVerification = import.meta.env.PUBLIC_GOOGLE_SITE_VERIFICATION; // todo

export interface Props {
  title?: string;
  description?: string;
}

const { title = SITE.title, description = SITE.description } = Astro.props;
const author = SITE.author;

// todo - add ogImage,
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icons/favicon-16x16.png"
    />
    <meta name="theme-color" content="#FF5C36" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap"
      rel="stylesheet"
    />
    <script is:inline src="/theme-setter.js"></script>
  </head>
  <body>
    <!-- <PageBackground /> -->
    <PolygonBackground />
    <CursorAnime />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <SocialSideBar />
    <script is:inline src="../../node_modules/preline/dist/preline.js"></script>
  </body>
</html>
